NEXT_PUBLIC_SITE_URL=https://wiencraft.site
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
NEXT_PUBLIC_WHATSAPP_NUMBER=6281265014539
NEXT_PUBLIC_WHATSAPP_MESSAGE=Halo WienCraft, saya tertarik dengan produk rajutnya.
